* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
}

p, i { 
    color: rgb(40, 40, 54);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(28, 135, 243);
    transition: all .5s;
}

/*Body Resume Containers ****************/
.body-resume-container {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;

}
@media(max-width: 1050px) {
    .body-resume-container {
        flex-direction: column;
    }  
}