.header {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    background-color: rgb(40, 40, 54);
    color: #fff;
    width: 100%;
    height: 5%;
}

.image-and-name-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

.image-header {
    width: 20%;
    /* border: 1px solid yellow; */
}
.image-header img {
    width: 70%;
    min-height: 100%;
    float: right;
}

.name-header {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: center;
    margin-left: 20px;
    /* transition: all 2s; */
    /* border: 1px solid red; */
}
.name-header h1 {
    margin-bottom: 0;
    font-weight: lighter;
}

.name-header h2 {
    margin-top: 5px;
    font-weight: lighter;
}

.name-header p {
    color: #fff;
}

