@media(max-width: 899px) { 
    .image-and-name-header {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
    }
    
    .image-header {
        display: flex;
        justify-content: center;
        width: 100%;
        /* border: 1px solid yellow; */
    }
    .image-header img {
        width: 40%;
    }
    
    .name-header {
        /* border: 1px solid red; */
        margin: 0;
        width: 100%;
        text-align: center;
        /* transition: all 2s; */
    }
    .name-header p {
        width: 45%;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media(max-width: 899px) { 
    .name-header p {
        width: 70%;
    }
}  