/*Education, Skills, and Work Container*/
.education-skills-and-work-experience-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.education-skills-and-work-experience-container hr {
    width: 97%;
}

.education-container, .skills-container, .work-experience-container{
    width: 100%;
    /* border: 1px solid red; */
}

.education-header, .skills-header, .work-experience-header {
    display: flex;
    width: 100%;
    margin-left: 20px;
    /* border: 1px solid red; */
}

.education-header i {
    margin: 25px 10px;
}
.education-school-info {
    display: flex;
    flex-direction: column;
    margin-left: 53px;
}
.education-school-info .mg-bttm {
    margin-bottom: 5px;
    /* transition: all 2s; */
}
.education-text-bold {
    font-weight: bold;
}

.skill-names {
    display: flex; 
    /* justify-content: space-between; */
    /* border: 1px solid blue; */

}

.skill-block-1 {
    width: 20%;
    /* border: 1px solid blue; */
    padding-left: 55px;

}
.skill-block-2, .skill-block-3 {
    width: 20%;
    /* border: 1px solid blue; */ 
}

.skill-block-3 {
    padding-left: 15px;
}

.skills-header i {
    margin: 25px 10px;
}

.work-experience-header i {
    /* border: 1px solid blue; */
    margin: 25px 10px;
}

.software-name {
    text-align: center;
    text-decoration: underline;
}
/*End of Education and Skills Container*******/


/*Work Container and Card Containers *******/
.work-experience-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card-container {
    margin-bottom: 70px;
}
/*Card 1 and Card-2 ************************/
.card-1, .card-2 {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    border-radius: 5px;
    width: 97%;
    background-color: rgb(243, 243, 243);
    margin: 25px auto 0 auto;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* transition: all 2s; */
}

.card-image-1, .card-image-2 {
    width: 40%;
    /* transition: all 2s; */
}

.card-text-header-1, .card-text-header-2 {
    font-weight: bold;
}
/*End of Card 1 and Card-2 ************************/


/*Card 1************************/
.card-image-1 img {
    width: 100%;
    min-height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-1 a:hover {
    opacity: .8;
    transition: all .5s;
}

.card-text-1, .card-text-2 {
    padding-left: 15px;
    padding-right: 10px;
    width: 60%;
    /* transition: all 2s; */
}
/*End of Card 1 ************************/


/*Card 2 ************************/
.card-image-2 {
    order: 2;
}
.card-image-2 img {
    width: 100%;
    min-height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-text-2 {
    order: 1;

}

.card-2 a:hover {
    opacity: .8;
    transition: all .5s;
}
/*End of Card 2 ************************/
/*End of Work Container and Card Containers *******/
/*End of Body Containers ****************/